<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aichouchm" translate="label" sortOrder="300">
            <label>Aichouchm</label>
        </tab>
        <section id="aichouchm_product_relations" translate="label" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>aichouchm</tab>
            <label>Product Relations</label>
            <resource>Aichouchm_ProductRelations::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cache Lifetime (seconds)</label>
                    <comment>Default: 86400 (24h). Set to 0 to disable block cache.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>

            <group id="display" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display</label>
                <field id="show_on_pdp" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_items" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Items to Display</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
